---
# ServiceAccount for the target allocator
apiVersion: v1
kind: ServiceAccount
metadata:
  name: otel-target-allocator
---
# ClusterRole allowing discovery of k8s objects (services/endpoints/pods/namespaces/nodes)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: otel-target-allocator
rules:
  - apiGroups: [""]
    resources: ["services", "endpoints", "pods", "nodes", "namespaces"]
    verbs: ["get", "list", "watch"]
---
# ClusterRoleBinding to bind the SA
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: otel-target-allocator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: otel-target-allocator
subjects:
  - kind: ServiceAccount
    name: otel-target-allocator
    namespace: signoz
---
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel-target-allocator
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
spec:
  mode: statefulset
  targetAllocator:
    enabled: true
    serviceAccount: otel-target-allocator
    prometheusCR:
      enabled: true
      podMonitorSelector: {}
      serviceMonitorSelector: {}
  config:
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: 'otel-collector'
              scrape_interval: 10s
              static_configs:
                - targets: ['0.0.0.0:8888']
    exporters:
      signoz_otlp:
        otlp:
          endpoint: "signoz-otel-collector.signoz.svc.cluster.local:4317"
          tls:
            insecure: true

    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          exporters: [signoz_otlp]
