apiVersion: v2
name: cf-eks-baseline
description: A Helm chart for deploying the baseline services to CF's EKS clusters
type: application
version: 0.3.3
appVersion: 0.0.1
dependencies:
  - name: traefik
    version: 37.3.0
    repository: https://helm.traefik.io/traefik
    condition: traefik.enabled
  - name: external-secrets
    version: 0.9.16
    repository: https://charts.external-secrets.io
    condition: external-secrets.enabled
  - name: aws-ebs-csi-driver
    version: 2.48.0
    repository: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
    condition: aws-ebs-csi-driver.enabled
  - name: aws-efs-csi-driver
    version: 3.2.3
    repository: https://kubernetes-sigs.github.io/aws-efs-csi-driver
    condition: aws-efs-csi-driver.enabled
  - name: nginx
    version: 21.1.23
    repository: https://charts.bitnami.com/bitnami
    condition: nginx.enabled
  - name: node-local-dns
    version: 2.0.8
    repository: https://charts.deliveryhero.io/
    condition: node-local-dns.enabled
