traefik:
  enabled: true
  fullnameOverride: "traefik"
  deployment:
    enabled: true
    kind: "DaemonSet"
  service:
    type: "NodePort"
  ports:
    web:
      expose:
        default: false
    websecure:
      nodePort: 30443

nginx:
  enabled: true
  fullnameOverride: "nginx"
  image:
    repository: "bitnamilegacy/nginx"
  service:
    type: ClusterIP
  readinessProbe:
    enabled: true
    path: /healthz
  serverBlock: |-
    server {
      listen 0.0.0.0:8080;

      location /not-found {
        return 404 "Not Found";
      }
      location /healthz {
        return 200 "OK";
      }

    }

external-secrets:
  enabled: true
  fullnameOverride: "external-secrets"

metrics-server:
  enabled: true
  fullnameOverride: "metrics-server"

aws-ebs-csi-driver:
  enabled: true
  fullnameOverride: "aws-ebs-csi-driver"

snapscheduler:
  enabled: false
  fullnameOverride: "snapscheduler"
